@*@{
        ViewBag.Title = "Home Page";
    }*@
@model WebApplication.Models.ViewModels.IndexHomeVM

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Svt1</h2>
        @foreach (var item in Model.listSvt)
        {
            foreach (var program in item.jsontv.programme)
            {
                <p>@program.title.sv</p>
            }
        }
    </div>
    <div class="col-md-4">
        <h2>TV4</h2>
        <ul class="program">
            @foreach (var item in Model.listTv4)
            {
                foreach (var program in item.jsontv.programme)
                {
                    <li><a class="programLink" id="@program.title.sv", value="@program.start">@program.start   @program.title.sv</a></li>
                }
            }
        </ul>

    </div>
    <div class="col-md-4">
        <h2>TV3</h2>
        @foreach (var item in Model.listTv3)
        {
            foreach (var program in item.jsontv.programme)
            {
                <p>@program.title.sv</p>
            }
        }
    </div>

    <div id="programPopup">
    </div>
</div>