@model WebApplication.Models.ViewModels.IndexHomeVM

<div class="popularShows">
    @Html.Action("LoadPopularPrograms")
</div>

<div class="row">

    <div id="day-container">
        <nav id="navday">
            <a href="#" id="menu-days-icon"></a>
            <ul class="menudays">
                @*@foreach (var item in Model)
                    {
                        <li><a class="showDayShow" @*value ="@item.Date.ToShortDateString()">@item.Day @item.Date.ToShortDateString()></a></li>
                    }*@

            </ul>
        </nav>
    </div>
    <div class="partialViewHolder">
            @Html.Partial("ContainerForChannel")
        </div>
        <div id="programPopup">

            


        </div>
</div>