<div class="col-md-4">
    <h2>Svt1</h2>
    <ul class="program">
        @foreach (var item in Model)
        {
            @*<p>@item.title.sv</p>*@

            <li><a onclick="location.href='@Url.Action("updateClicker", "ShowsPop", new { program = '"'@item.title.sv"'/""@item.start""/""@item.stop""/""@item.channel"" })'">@item.start   @item.title.sv</a></li>
            @*<li><a class="programLink" id="@item.title.sv" , value="@item.title.sv/@item.start/@item.stop/@item.channel">@item.start   @item.title.sv</a></li>*@
        }
   </ul>
</div>

<script src="~/Scripts/JavaScriptIndex.js"></script>
