<div class="col-md-4">
    <h2>Svt1</h2>
    @foreach (var item in Model.listSvt)
    {
        foreach (var program in item.jsontv.programme)
        {
            <p>@program.title.sv</p>
        }
    }
</div>
<div class="col-md-4">
    <h2>TV4</h2>
    <ul class="program">
        @foreach (var item in Model.listTv4)
            {
                foreach (var program in item.jsontv.programme)
                {
                <li><a class="programLink" id="@program.title.sv" , value="@program.start">@program.start   @program.title.sv</a></li>
            }
        }
    </ul>

</div>
<div class="col-md-4">
    <h2>TV3</h2>
    @foreach (var item in Model.listTv3)
    {
        foreach (var program in item.jsontv.programme)
        {
            <p>@program.title.sv</p>
        }
    }
</div>


