<div class="col-md-4">
    <h2>Svt1</h2>
    <ul class="program">
        @foreach (var item in Model)
        {
            @*<p>@item.title.sv</p>*@

            <li><a class="programLink" id="@item.title.sv">@item.start   @item.title.sv</a></li>

            <li>@Ajax.ActionLink((string)@item.title.sv, "ShowsPop", "Home", new { program = @item}, null, new { UpdateTargetId = "programPopup" })</li>

        }

   </ul>
</div>

<script src="~/Scripts/JavaScriptIndex.js"></script>

