<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="Content/owl.carousel.min.css">
    <link rel="stylesheet" href="Content/owl.theme.default.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Min sida", "MyPage", "Home")</li>
                    @if(User.Identity.IsAuthenticated)
                    {                   
                        if (Roles.IsUserInRole(User.Identity.Name, "Admin"))
                        {
                            <li>@Html.ActionLink("Administrera", "Index", "People")</li>
                        }
                        <li>@Html.ActionLink("Logga ut", "SignOut", "Account")</li>
                        <button type="button" class="btn btn-primary" id ="myViewList" onclick="GetViewList(this)" title="" data-name="@User.Identity.Name" data-container="body" data-toggle="popover" data-placement="bottom" 
                         data-original-title="Popover Title">Min Lista</button>

                         
              @*@Html.Action("GetViewList", "Home")*@
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <div class="popover fade show bs-popover-top" role="tooltip" id="popover648814" x-placement="top" style="will-change: transform; position: absolute; transform: translate3d(59px, 16098px, 0px); top: 0px; left: 0px;">
            <div class="arrow" style="left: 117px;">
                </div><h3 class="popover-header">Popover Title</h3><div class="popover-body">
                Vivamus
                sagittis lacus vel augue laoreet rutrum faucibus.
            </div>
        </div>


        @{Html.RenderPartial("_Footer");}
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/changeday")
    @Scripts.Render("~/bundles/getchannels")
    @Scripts.Render("~/bundles/getPopularPrograms")
    
    @RenderSection("scripts", required: false)

    <script src="/Scripts/owl.carousel.min.js"></script>
    
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel();
        });

        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });

    </script>

    <div id="test">

    </div>
</body>
</html>
