<h2 class="popularHeader">Hett just nu:</h2>
    <div class="owl-carousel">    
        @foreach (var item in Model)
        {
            <div class="popularShows" style="background-image: url(@item.Picture)">
                <img src="@("http://logos.xmltv.se/"+item.Channel+".png")" />
                <a class="aPopularShows" onclick="location.href='@Url.Action("ShowsPop", "Home", new { title = @item.Title, start= @item.Start_time, stop = @item.End_time, desc = @item.Description, channel = @item.Channel, category = @item.Categories}, null)'" , value=@item.Title/@item.Start_time/@item.End_time/@item.Channel>@item.Start_time   @item.Title</a>
            </div>
        }
    </div>