@model  WebApplication.Models.Models.JsonProgramModel

<div id="popupMovie" class="overlay">
    <div class="popup">
        <img class="channelIconPopup" src="@("http://logos.xmltv.se/"+Model.ProgramJson.channel+".png")" />
        <h3>@Model.ProgramJson.title.sv</h3>
        <span class="close" onclick="closePopUp()">&times;</span>
        <div class="content">
            <hr class="footerhr" />
            Visas: @Model.ProgramJson.StartTime.ToShortTimeString() - @Model.ProgramJson.StopTime.ToShortTimeString()<br><br>

            @Model.ProgramJson.desc.sv<br><br>
            @foreach (var category in Model.ProgramJson.category.en)
            {
                <i>@category </i>
            }

            @if (Roles.IsUserInRole(User.Identity.Name, "Member") && Model.ProgramJson.HasPassed == "NotPassed")
            {
            <button class="btn btn-primary" onclick="CreateViewList(this)" id="@Model.ProgramJson.title.sv" data-title="@Model.ProgramJson.title.sv" data-start="@Model.ProgramJson.start" data-stop="@Model.ProgramJson.stop" data-desc="@Model.ProgramJson.desc.sv" data-channel="@Model.ProgramJson.channel" data-category="@Model.ProgramJson.CategoryToString" data-timeStart="@Model.ProgramJson.StartTime" data-timeEnd="@Model.ProgramJson.StopTime">Lägg till i titt-listan</button>
            }

            @if (Roles.IsUserInRole(User.Identity.Name, "Editor") || Roles.IsUserInRole(User.Identity.Name, "Admin") && Model.ProgramJson.HasPassed == "NotPassed")
            {
                <button class="btn btn-primary" onclick="CreateEditorRecommendation(this)" id="@Model.ProgramJson.title.sv" data-title="@Model.ProgramJson.title.sv" data-start="@Model.ProgramJson.start" data-stop="@Model.ProgramJson.stop" data-desc="@Model.ProgramJson.desc.sv" data-channel="@Model.ProgramJson.channel" data-category="@Model.ProgramJson.CategoryToString" data-timeStart="@Model.ProgramJson.StartTime" data-timeEnd="@Model.ProgramJson.StopTime">Lägg till som Nyhetspuff</button>
            }


        </div>
    </div>
</div>

