@model  WebApplication.Models.Models.JsonProgramModel

<div id="popupMovie" class="overlay">
    <div class="popup">
        <img class="channelIconPopup" src="@Model.ProgramJson.iconUrl" />
        <h3>@Model.ProgramJson.title.sv</h3>
        <span class="close" onclick="closePopUp()">&times;</span>
        <div class="content">
            <hr class="footerhr" />
            Visas: @Model.ProgramJson.StartTime.ToShortTimeString() - @Model.ProgramJson.StopTime.ToShortTimeString()<br><br>

            @Model.ProgramJson.desc.sv<br><br>
            @foreach (var category in Model.ProgramJson.category.en)
            {
                <i>@category </i>
            }

            @if (User.Identity.IsAuthenticated)
            {
            <button type="button" class="btn btn-primary">Lägg till i titt-listan</button>
            }
        </div>
    </div>
</div>
