@model WebApplication.Models.ViewModels.LoginVM

@{
    ViewBag.Title = "Logga in";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <div id="login">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @Html.LabelFor(model => model.Username)
        @Html.EditorFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        <br />
        @Html.LabelFor(model => model.Password)
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger"})

        <input type="submit" value="Logga in" class="btn btn-default" />
    </div>
}

